* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: #333399;
    color: white;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.banner {
    background: #e5f3ff;
    text-align: center;
    padding: 40px;
}

.banner h1 {
    color: #333;
}

.title {
    text-align: center;
    margin: 25px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.categories div {
    background: white;
    padding: 25px 50px;
    border-radius: 5px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px gray;
}

.card a {
    display: block;
    margin: 10px;
    color: blue;
}

button {
    background: #333399;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.form-box {
    width: 400px;
    background: white;
    margin: 40px auto;
    padding: 25px;
    border-radius: 8px;
}

.form-box h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

textarea {
    height: 100px;
}

.details {
    width: 600px;
    margin: 50px auto;
    background: white;
    padding: 30px;
}

.cart {
    width: 600px;
    margin: 30px auto;
    background: white;
    padding: 25px;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

footer {
    margin-top: 30px;
    background: #eee;
    text-align: center;
    padding: 20px;
}